/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
  background-color: #c6b792;
  color: black;
}

h1 {
  font-family: verdana, arial, sans-serif;
  color: #900404;
}

button {
  padding: 8px;
  border-radius: 15px;
}

#gameButtonArea > button{
  width: 200px;
  height: 200px;
  margin: 2px;
}

#button1 {
  background: #980000;
}

#button1:active, #button1.lit{
  background:#fe0000;
}

#button2 {
  background: #979801;
}

#button2:active, #button2.lit{
  background:#fdfe02;
}

#button3{
  background: #07b200;
}

#button3:active, #button3.lit{
  background:#0bff01;
}

#button4{
  background: #0015b1;
}

#button4:active, #button4.lit{
  background: #011efe;
}

#attemptsDisplay{
  position: fixed;
  top: 20px;
  right: 20px;
}

.hidden{
  display: none;
}